.pageContent {
  margin: 2em;
}

.chart {
  flex: 1;
  margin: 1vw;
  padding: 1vw;
  border-radius: .5em;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

  > h1 {
    margin-bottom: 1em;
    font-size: 16px;
    text-align: center;
  }
}

.incomeTable {
  width: 100%;
  border-top: solid #555 2px;
  border-bottom: solid #555 2px;

  th {
    text-align: left;
  }

  thead th {
    border-bottom: solid #555 1px;
  }

  tbody td {
    text-align: right;
  }

  th, td {
    padding: 0 1em;
  }
}

