.table-container{
    border: solid 2px;
    border-radius: 10px;
    width: 800px;
    margin: 0 auto;
    height: 500px;
    padding: 10px;
    overflow-y: auto;
}
table, th, td{
    border: solid 1px;
}
table{
    width: 100%;
}

.controls{
    margin: 0 auto;
    width: 800px;
    display: flex;
    gap: 100px;
    padding: 10px 0;
    justify-content: center;
}
button{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}
button:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}