* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #222;
  background-color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-position: inside;
}

.page-header {
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(8px);
}

.NavBar {
  display: flex;

  > a {
    padding: 1em;
    transition: color ease 200ms;

    &:hover {
      color: #666;
    }
  }
}

.incomeTable {
  width: 100%;
  border-top: solid #555 2px;
  border-bottom: solid #555 2px;

  th {
    text-align: left;
  }

  thead th {
    border-bottom: solid #555 1px;
  }

  tbody td {
    text-align: right;
  }

  th, td {
    padding: 0 1em;
  }
}

